<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProposedApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity_Classic_Plan"
            android:exported="false" />
        <activity
            android:name=".data.Activity_Classic_Plans"
            android:exported="false" />
        <activity
            android:name=".Activity_Premium_Plan"
            android:exported="false"
            android:theme="@style/Theme.ProposedApplication" />
        <activity
            android:name=".Activity_New_Password"
            android:exported="false" />
        <activity
            android:name=".Upload_id"
            android:exported="false" />
        <activity
            android:name=".NewRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".NewDeveloper4Details"
            android:exported="false" />
        <activity
            android:name=".NewDeveloper3Details"
            android:exported="false" />
        <activity
            android:name=".NewDeveloper2Details"
            android:exported="false" />
        <activity
            android:name=".NewDeveloper1Details"
            android:exported="false" />
        <activity
            android:name=".NewDeveloper1"
            android:exported="false" />
        <activity
            android:name=".NewCreationDetails"
            android:exported="false" />
        <activity
            android:name=".NewCreationActivity"
            android:exported="false" />
        <activity
            android:name=".NewDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.ProposedApplication" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
    </application>

</manifest>